#x1 {
  background: #FF3B30;
}

#x2 {
  background: #FF9500;
}

#x3 {
  background: #FFCC00;
}

#x4 {
  background: #4CD964;
}

#x5 {
  background: #5AC8FA;
}

#x6 {
  background: #007AFF;
}

#x7 {
  background: #5856D6;
}

.bar:nth-child(1) {
  position: absolute;
  top: 0px;
  left: 0px;
}

.bar:nth-child(2) {
  position: absolute;
  top: 0px;
  left: 20px;
}

.bar:nth-child(3) {
  position: absolute;
  top: 0px;
  left: 40px;
}

.bar:nth-child(4) {
  position: absolute;
  top: 0px;
  left: 60px;
}

.bar:nth-child(5) {
  position: absolute;
  top: 0px;
  left: 80px;
}

.bar:nth-child(6) {
  position: absolute;
  top: 0px;
  left: 100px;
}

.bar:nth-child(7) {
  position: absolute;
  top: 0px;
  left: 120px;
}

.day-name-dial, .month-dial, .day-dial {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.head {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.center-preview span, .hand-container, .day-name-preview span, .day-name-text span, .month-preview span, .month-text span, .day-preview span, .day-text span {
  text-align: center;
  moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

* {
  box-sizing: border-box;
}

html,
body {
  background: #292929;
  border: 0;
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  margin: 0px;
  width: 100%;
}

h1 {
  color: #555;
  font-size: 25px;
}

h2 {
  color: #555;
  font-size: 15px;
}

.center-dial {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 150px;
  height: 150px;
  background-color: #202020;
  border-radius: 50%;
  color: #000;
  box-shadow: 0px 2px 2px #000;
  cursor: pointer;
  overflow: hidden;
}

.center-preview span {
  position: absolute;
  top: 0%;
  left: calc(50% - 12.5px);
  height: 150px;
  width: 25px;
}

.center-preview {
  opacity: 0;
  filter: alpha(opacity=0);
}
.center-preview .char1 {
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.center-preview .char2 {
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.center-preview .char3 {
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.center-preview .char4 {
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.center-preview .char5 {
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.center-preview .char6 {
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.head {
  width: 50px;
  height: 50px;
  background: #FFF;
  border-radius: 50%;
}

.torso {
  position: relative;
  top: calc(50% - 20px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  background: #FFF;
  border-radius: 50%;
}

.hand-container {
  position: absolute;
  top: 0%;
  left: calc(50% - 12.5px);
  opacity: 0;
  filter: alpha(opacity=0);
  width: 25px;
  height: 150px;
  moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.hour-hand {
  width: 10px;
  height: 50px;
  position: relative;
  top: calc(50% - 45px);
  left: calc(50% - 5px);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #FFF;
  border-radius: 5px;
}

.minute-hand {
  width: 10px;
  height: 70px;
  position: relative;
  top: calc(50% - 65px);
  left: calc(50% - 5px);
  background: #CCC;
  border-radius: 5px;
}

.second-hand {
  width: 2px;
  height: 70px;
  position: relative;
  top: calc(50% - 69px);
  left: calc(50% - 1px);
  background: #AAA;
  border-radius: 1px;
}

.day-name-dial {
  width: 250px;
  height: 250px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.day-name-preview span {
  position: absolute;
  top: calc(-25% - 5px);
  left: calc(50% - 12.5px);
  height: 250px;
  width: 25px;
}

.day-name-preview {
  opacity: 0;
  filter: alpha(opacity=0);
}
.day-name-preview .char1 {
  -moz-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.day-name-preview .char2 {
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
.day-name-preview .char3 {
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.day-name-preview .char4 {
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.day-name-preview .char5 {
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
.day-name-preview .char6 {
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.day-name-preview .char7 {
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}
.day-name-preview .char8 {
  -moz-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.day-name-preview .char9 {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.day-name-text span {
  position: absolute;
  top: calc(-25% + 5px);
  left: calc(50% - 6px);
  height: 232px;
  width: 12px;
}

.day-name-text {
  opacity: 0;
  filter: alpha(opacity=0);
}
.day-name-text .char1 {
  -moz-transform: rotate(-125.35714deg);
  -o-transform: rotate(-125.35714deg);
  -ms-transform: rotate(-125.35714deg);
  -webkit-transform: rotate(-125.35714deg);
  transform: rotate(-125.35714deg);
}
.day-name-text .char2 {
  -moz-transform: rotate(-115.71429deg);
  -o-transform: rotate(-115.71429deg);
  -ms-transform: rotate(-115.71429deg);
  -webkit-transform: rotate(-115.71429deg);
  transform: rotate(-115.71429deg);
}
.day-name-text .char3 {
  -moz-transform: rotate(-106.07143deg);
  -o-transform: rotate(-106.07143deg);
  -ms-transform: rotate(-106.07143deg);
  -webkit-transform: rotate(-106.07143deg);
  transform: rotate(-106.07143deg);
}
.day-name-text .char4 {
  -moz-transform: rotate(-96.42857deg);
  -o-transform: rotate(-96.42857deg);
  -ms-transform: rotate(-96.42857deg);
  -webkit-transform: rotate(-96.42857deg);
  transform: rotate(-96.42857deg);
}
.day-name-text .char5 {
  -moz-transform: rotate(-86.78571deg);
  -o-transform: rotate(-86.78571deg);
  -ms-transform: rotate(-86.78571deg);
  -webkit-transform: rotate(-86.78571deg);
  transform: rotate(-86.78571deg);
}
.day-name-text .char6 {
  -moz-transform: rotate(-77.14286deg);
  -o-transform: rotate(-77.14286deg);
  -ms-transform: rotate(-77.14286deg);
  -webkit-transform: rotate(-77.14286deg);
  transform: rotate(-77.14286deg);
}
.day-name-text .char7 {
  -moz-transform: rotate(-67.5deg);
  -o-transform: rotate(-67.5deg);
  -ms-transform: rotate(-67.5deg);
  -webkit-transform: rotate(-67.5deg);
  transform: rotate(-67.5deg);
}
.day-name-text .char8 {
  -moz-transform: rotate(-57.85714deg);
  -o-transform: rotate(-57.85714deg);
  -ms-transform: rotate(-57.85714deg);
  -webkit-transform: rotate(-57.85714deg);
  transform: rotate(-57.85714deg);
}
.day-name-text .char9 {
  -moz-transform: rotate(-48.21429deg);
  -o-transform: rotate(-48.21429deg);
  -ms-transform: rotate(-48.21429deg);
  -webkit-transform: rotate(-48.21429deg);
  transform: rotate(-48.21429deg);
}
.day-name-text .char10 {
  -moz-transform: rotate(-38.57143deg);
  -o-transform: rotate(-38.57143deg);
  -ms-transform: rotate(-38.57143deg);
  -webkit-transform: rotate(-38.57143deg);
  transform: rotate(-38.57143deg);
}
.day-name-text .char11 {
  -moz-transform: rotate(-28.92857deg);
  -o-transform: rotate(-28.92857deg);
  -ms-transform: rotate(-28.92857deg);
  -webkit-transform: rotate(-28.92857deg);
  transform: rotate(-28.92857deg);
}
.day-name-text .char12 {
  -moz-transform: rotate(-19.28571deg);
  -o-transform: rotate(-19.28571deg);
  -ms-transform: rotate(-19.28571deg);
  -webkit-transform: rotate(-19.28571deg);
  transform: rotate(-19.28571deg);
}
.day-name-text .char13 {
  -moz-transform: rotate(-9.64286deg);
  -o-transform: rotate(-9.64286deg);
  -ms-transform: rotate(-9.64286deg);
  -webkit-transform: rotate(-9.64286deg);
  transform: rotate(-9.64286deg);
}
.day-name-text .char14 {
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.day-name-text .char15 {
  -moz-transform: rotate(9.64286deg);
  -o-transform: rotate(9.64286deg);
  -ms-transform: rotate(9.64286deg);
  -webkit-transform: rotate(9.64286deg);
  transform: rotate(9.64286deg);
}
.day-name-text .char16 {
  -moz-transform: rotate(19.28571deg);
  -o-transform: rotate(19.28571deg);
  -ms-transform: rotate(19.28571deg);
  -webkit-transform: rotate(19.28571deg);
  transform: rotate(19.28571deg);
}
.day-name-text .char17 {
  -moz-transform: rotate(28.92857deg);
  -o-transform: rotate(28.92857deg);
  -ms-transform: rotate(28.92857deg);
  -webkit-transform: rotate(28.92857deg);
  transform: rotate(28.92857deg);
}
.day-name-text .char18 {
  -moz-transform: rotate(38.57143deg);
  -o-transform: rotate(38.57143deg);
  -ms-transform: rotate(38.57143deg);
  -webkit-transform: rotate(38.57143deg);
  transform: rotate(38.57143deg);
}
.day-name-text .char19 {
  -moz-transform: rotate(48.21429deg);
  -o-transform: rotate(48.21429deg);
  -ms-transform: rotate(48.21429deg);
  -webkit-transform: rotate(48.21429deg);
  transform: rotate(48.21429deg);
}
.day-name-text .char20 {
  -moz-transform: rotate(57.85714deg);
  -o-transform: rotate(57.85714deg);
  -ms-transform: rotate(57.85714deg);
  -webkit-transform: rotate(57.85714deg);
  transform: rotate(57.85714deg);
}
.day-name-text .char21 {
  -moz-transform: rotate(67.5deg);
  -o-transform: rotate(67.5deg);
  -ms-transform: rotate(67.5deg);
  -webkit-transform: rotate(67.5deg);
  transform: rotate(67.5deg);
}
.day-name-text .char22 {
  -moz-transform: rotate(77.14286deg);
  -o-transform: rotate(77.14286deg);
  -ms-transform: rotate(77.14286deg);
  -webkit-transform: rotate(77.14286deg);
  transform: rotate(77.14286deg);
}
.day-name-text .char23 {
  -moz-transform: rotate(86.78571deg);
  -o-transform: rotate(86.78571deg);
  -ms-transform: rotate(86.78571deg);
  -webkit-transform: rotate(86.78571deg);
  transform: rotate(86.78571deg);
}
.day-name-text .char24 {
  -moz-transform: rotate(96.42857deg);
  -o-transform: rotate(96.42857deg);
  -ms-transform: rotate(96.42857deg);
  -webkit-transform: rotate(96.42857deg);
  transform: rotate(96.42857deg);
}
.day-name-text .char25 {
  -moz-transform: rotate(106.07143deg);
  -o-transform: rotate(106.07143deg);
  -ms-transform: rotate(106.07143deg);
  -webkit-transform: rotate(106.07143deg);
  transform: rotate(106.07143deg);
}
.day-name-text .char26 {
  -moz-transform: rotate(115.71429deg);
  -o-transform: rotate(115.71429deg);
  -ms-transform: rotate(115.71429deg);
  -webkit-transform: rotate(115.71429deg);
  transform: rotate(115.71429deg);
}
.day-name-text .char27 {
  -moz-transform: rotate(125.35714deg);
  -o-transform: rotate(125.35714deg);
  -ms-transform: rotate(125.35714deg);
  -webkit-transform: rotate(125.35714deg);
  transform: rotate(125.35714deg);
}
.day-name-text .char28 {
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.month-dial {
  width: 350px;
  height: 350px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.month-preview span {
  position: absolute;
  top: calc(-25% + 20px);
  left: calc(50% - 12.5px);
  height: 350px;
  width: 25px;
}

.month-preview {
  opacity: 0;
  filter: alpha(opacity=0);
}
.month-preview .char1 {
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.month-preview .char2 {
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.month-preview .char3 {
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.month-preview .char4 {
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.month-preview .char5 {
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.month-preview .char6 {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.month-text span {
  position: absolute;
  top: calc(-25% + 30px);
  left: calc(50% - 6px);
  height: 332px;
  width: 12px;
}

.month-text {
  opacity: 0;
  filter: alpha(opacity=0);
}
.month-text .char1 {
  -moz-transform: rotate(-129.375deg);
  -o-transform: rotate(-129.375deg);
  -ms-transform: rotate(-129.375deg);
  -webkit-transform: rotate(-129.375deg);
  transform: rotate(-129.375deg);
}
.month-text .char2 {
  -moz-transform: rotate(-123.75deg);
  -o-transform: rotate(-123.75deg);
  -ms-transform: rotate(-123.75deg);
  -webkit-transform: rotate(-123.75deg);
  transform: rotate(-123.75deg);
}
.month-text .char3 {
  -moz-transform: rotate(-118.125deg);
  -o-transform: rotate(-118.125deg);
  -ms-transform: rotate(-118.125deg);
  -webkit-transform: rotate(-118.125deg);
  transform: rotate(-118.125deg);
}
.month-text .char4 {
  -moz-transform: rotate(-112.5deg);
  -o-transform: rotate(-112.5deg);
  -ms-transform: rotate(-112.5deg);
  -webkit-transform: rotate(-112.5deg);
  transform: rotate(-112.5deg);
}
.month-text .char5 {
  -moz-transform: rotate(-106.875deg);
  -o-transform: rotate(-106.875deg);
  -ms-transform: rotate(-106.875deg);
  -webkit-transform: rotate(-106.875deg);
  transform: rotate(-106.875deg);
}
.month-text .char6 {
  -moz-transform: rotate(-101.25deg);
  -o-transform: rotate(-101.25deg);
  -ms-transform: rotate(-101.25deg);
  -webkit-transform: rotate(-101.25deg);
  transform: rotate(-101.25deg);
}
.month-text .char7 {
  -moz-transform: rotate(-95.625deg);
  -o-transform: rotate(-95.625deg);
  -ms-transform: rotate(-95.625deg);
  -webkit-transform: rotate(-95.625deg);
  transform: rotate(-95.625deg);
}
.month-text .char8 {
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.month-text .char9 {
  -moz-transform: rotate(-84.375deg);
  -o-transform: rotate(-84.375deg);
  -ms-transform: rotate(-84.375deg);
  -webkit-transform: rotate(-84.375deg);
  transform: rotate(-84.375deg);
}
.month-text .char10 {
  -moz-transform: rotate(-78.75deg);
  -o-transform: rotate(-78.75deg);
  -ms-transform: rotate(-78.75deg);
  -webkit-transform: rotate(-78.75deg);
  transform: rotate(-78.75deg);
}
.month-text .char11 {
  -moz-transform: rotate(-73.125deg);
  -o-transform: rotate(-73.125deg);
  -ms-transform: rotate(-73.125deg);
  -webkit-transform: rotate(-73.125deg);
  transform: rotate(-73.125deg);
}
.month-text .char12 {
  -moz-transform: rotate(-67.5deg);
  -o-transform: rotate(-67.5deg);
  -ms-transform: rotate(-67.5deg);
  -webkit-transform: rotate(-67.5deg);
  transform: rotate(-67.5deg);
}
.month-text .char13 {
  -moz-transform: rotate(-61.875deg);
  -o-transform: rotate(-61.875deg);
  -ms-transform: rotate(-61.875deg);
  -webkit-transform: rotate(-61.875deg);
  transform: rotate(-61.875deg);
}
.month-text .char14 {
  -moz-transform: rotate(-56.25deg);
  -o-transform: rotate(-56.25deg);
  -ms-transform: rotate(-56.25deg);
  -webkit-transform: rotate(-56.25deg);
  transform: rotate(-56.25deg);
}
.month-text .char15 {
  -moz-transform: rotate(-50.625deg);
  -o-transform: rotate(-50.625deg);
  -ms-transform: rotate(-50.625deg);
  -webkit-transform: rotate(-50.625deg);
  transform: rotate(-50.625deg);
}
.month-text .char16 {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.month-text .char17 {
  -moz-transform: rotate(-39.375deg);
  -o-transform: rotate(-39.375deg);
  -ms-transform: rotate(-39.375deg);
  -webkit-transform: rotate(-39.375deg);
  transform: rotate(-39.375deg);
}
.month-text .char18 {
  -moz-transform: rotate(-33.75deg);
  -o-transform: rotate(-33.75deg);
  -ms-transform: rotate(-33.75deg);
  -webkit-transform: rotate(-33.75deg);
  transform: rotate(-33.75deg);
}
.month-text .char19 {
  -moz-transform: rotate(-28.125deg);
  -o-transform: rotate(-28.125deg);
  -ms-transform: rotate(-28.125deg);
  -webkit-transform: rotate(-28.125deg);
  transform: rotate(-28.125deg);
}
.month-text .char20 {
  -moz-transform: rotate(-22.5deg);
  -o-transform: rotate(-22.5deg);
  -ms-transform: rotate(-22.5deg);
  -webkit-transform: rotate(-22.5deg);
  transform: rotate(-22.5deg);
}
.month-text .char21 {
  -moz-transform: rotate(-16.875deg);
  -o-transform: rotate(-16.875deg);
  -ms-transform: rotate(-16.875deg);
  -webkit-transform: rotate(-16.875deg);
  transform: rotate(-16.875deg);
}
.month-text .char22 {
  -moz-transform: rotate(-11.25deg);
  -o-transform: rotate(-11.25deg);
  -ms-transform: rotate(-11.25deg);
  -webkit-transform: rotate(-11.25deg);
  transform: rotate(-11.25deg);
}
.month-text .char23 {
  -moz-transform: rotate(-5.625deg);
  -o-transform: rotate(-5.625deg);
  -ms-transform: rotate(-5.625deg);
  -webkit-transform: rotate(-5.625deg);
  transform: rotate(-5.625deg);
}
.month-text .char24 {
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.month-text .char25 {
  -moz-transform: rotate(5.625deg);
  -o-transform: rotate(5.625deg);
  -ms-transform: rotate(5.625deg);
  -webkit-transform: rotate(5.625deg);
  transform: rotate(5.625deg);
}
.month-text .char26 {
  -moz-transform: rotate(11.25deg);
  -o-transform: rotate(11.25deg);
  -ms-transform: rotate(11.25deg);
  -webkit-transform: rotate(11.25deg);
  transform: rotate(11.25deg);
}
.month-text .char27 {
  -moz-transform: rotate(16.875deg);
  -o-transform: rotate(16.875deg);
  -ms-transform: rotate(16.875deg);
  -webkit-transform: rotate(16.875deg);
  transform: rotate(16.875deg);
}
.month-text .char28 {
  -moz-transform: rotate(22.5deg);
  -o-transform: rotate(22.5deg);
  -ms-transform: rotate(22.5deg);
  -webkit-transform: rotate(22.5deg);
  transform: rotate(22.5deg);
}
.month-text .char29 {
  -moz-transform: rotate(28.125deg);
  -o-transform: rotate(28.125deg);
  -ms-transform: rotate(28.125deg);
  -webkit-transform: rotate(28.125deg);
  transform: rotate(28.125deg);
}
.month-text .char30 {
  -moz-transform: rotate(33.75deg);
  -o-transform: rotate(33.75deg);
  -ms-transform: rotate(33.75deg);
  -webkit-transform: rotate(33.75deg);
  transform: rotate(33.75deg);
}
.month-text .char31 {
  -moz-transform: rotate(39.375deg);
  -o-transform: rotate(39.375deg);
  -ms-transform: rotate(39.375deg);
  -webkit-transform: rotate(39.375deg);
  transform: rotate(39.375deg);
}
.month-text .char32 {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.month-text .char33 {
  -moz-transform: rotate(50.625deg);
  -o-transform: rotate(50.625deg);
  -ms-transform: rotate(50.625deg);
  -webkit-transform: rotate(50.625deg);
  transform: rotate(50.625deg);
}
.month-text .char34 {
  -moz-transform: rotate(56.25deg);
  -o-transform: rotate(56.25deg);
  -ms-transform: rotate(56.25deg);
  -webkit-transform: rotate(56.25deg);
  transform: rotate(56.25deg);
}
.month-text .char35 {
  -moz-transform: rotate(61.875deg);
  -o-transform: rotate(61.875deg);
  -ms-transform: rotate(61.875deg);
  -webkit-transform: rotate(61.875deg);
  transform: rotate(61.875deg);
}
.month-text .char36 {
  -moz-transform: rotate(67.5deg);
  -o-transform: rotate(67.5deg);
  -ms-transform: rotate(67.5deg);
  -webkit-transform: rotate(67.5deg);
  transform: rotate(67.5deg);
}
.month-text .char37 {
  -moz-transform: rotate(73.125deg);
  -o-transform: rotate(73.125deg);
  -ms-transform: rotate(73.125deg);
  -webkit-transform: rotate(73.125deg);
  transform: rotate(73.125deg);
}
.month-text .char38 {
  -moz-transform: rotate(78.75deg);
  -o-transform: rotate(78.75deg);
  -ms-transform: rotate(78.75deg);
  -webkit-transform: rotate(78.75deg);
  transform: rotate(78.75deg);
}
.month-text .char39 {
  -moz-transform: rotate(84.375deg);
  -o-transform: rotate(84.375deg);
  -ms-transform: rotate(84.375deg);
  -webkit-transform: rotate(84.375deg);
  transform: rotate(84.375deg);
}
.month-text .char40 {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.month-text .char41 {
  -moz-transform: rotate(95.625deg);
  -o-transform: rotate(95.625deg);
  -ms-transform: rotate(95.625deg);
  -webkit-transform: rotate(95.625deg);
  transform: rotate(95.625deg);
}
.month-text .char42 {
  -moz-transform: rotate(101.25deg);
  -o-transform: rotate(101.25deg);
  -ms-transform: rotate(101.25deg);
  -webkit-transform: rotate(101.25deg);
  transform: rotate(101.25deg);
}
.month-text .char43 {
  -moz-transform: rotate(106.875deg);
  -o-transform: rotate(106.875deg);
  -ms-transform: rotate(106.875deg);
  -webkit-transform: rotate(106.875deg);
  transform: rotate(106.875deg);
}
.month-text .char44 {
  -moz-transform: rotate(112.5deg);
  -o-transform: rotate(112.5deg);
  -ms-transform: rotate(112.5deg);
  -webkit-transform: rotate(112.5deg);
  transform: rotate(112.5deg);
}
.month-text .char45 {
  -moz-transform: rotate(118.125deg);
  -o-transform: rotate(118.125deg);
  -ms-transform: rotate(118.125deg);
  -webkit-transform: rotate(118.125deg);
  transform: rotate(118.125deg);
}
.month-text .char46 {
  -moz-transform: rotate(123.75deg);
  -o-transform: rotate(123.75deg);
  -ms-transform: rotate(123.75deg);
  -webkit-transform: rotate(123.75deg);
  transform: rotate(123.75deg);
}
.month-text .char47 {
  -moz-transform: rotate(129.375deg);
  -o-transform: rotate(129.375deg);
  -ms-transform: rotate(129.375deg);
  -webkit-transform: rotate(129.375deg);
  transform: rotate(129.375deg);
}
.month-text .char48 {
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.day-dial {
  width: 450px;
  height: 450px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.day-preview span {
  position: absolute;
  top: calc(-25% + 45px);
  left: calc(50% - 12.5px);
  height: 450px;
  width: 25px;
}

.day-preview {
  opacity: 0;
  filter: alpha(opacity=0);
}
.day-preview .char1 {
  -moz-transform: rotate(-22.5deg);
  -o-transform: rotate(-22.5deg);
  -ms-transform: rotate(-22.5deg);
  -webkit-transform: rotate(-22.5deg);
  transform: rotate(-22.5deg);
}
.day-preview .char2 {
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.day-preview .char3 {
  -moz-transform: rotate(22.5deg);
  -o-transform: rotate(22.5deg);
  -ms-transform: rotate(22.5deg);
  -webkit-transform: rotate(22.5deg);
  transform: rotate(22.5deg);
}
.day-preview .char4 {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.day-text span {
  position: absolute;
  top: calc(-25% + 55px);
  left: calc(50% - 6px);
  height: 432px;
  width: 12px;
}

.day-text {
  opacity: 0;
  filter: alpha(opacity=0);
}
.day-text .char1 {
  -moz-transform: rotate(-132.09677deg);
  -o-transform: rotate(-132.09677deg);
  -ms-transform: rotate(-132.09677deg);
  -webkit-transform: rotate(-132.09677deg);
  transform: rotate(-132.09677deg);
}
.day-text .char2 {
  -moz-transform: rotate(-129.19355deg);
  -o-transform: rotate(-129.19355deg);
  -ms-transform: rotate(-129.19355deg);
  -webkit-transform: rotate(-129.19355deg);
  transform: rotate(-129.19355deg);
}
.day-text .char3 {
  -moz-transform: rotate(-126.29032deg);
  -o-transform: rotate(-126.29032deg);
  -ms-transform: rotate(-126.29032deg);
  -webkit-transform: rotate(-126.29032deg);
  transform: rotate(-126.29032deg);
}
.day-text .char4 {
  -moz-transform: rotate(-123.3871deg);
  -o-transform: rotate(-123.3871deg);
  -ms-transform: rotate(-123.3871deg);
  -webkit-transform: rotate(-123.3871deg);
  transform: rotate(-123.3871deg);
}
.day-text .char5 {
  -moz-transform: rotate(-120.48387deg);
  -o-transform: rotate(-120.48387deg);
  -ms-transform: rotate(-120.48387deg);
  -webkit-transform: rotate(-120.48387deg);
  transform: rotate(-120.48387deg);
}
.day-text .char6 {
  -moz-transform: rotate(-117.58065deg);
  -o-transform: rotate(-117.58065deg);
  -ms-transform: rotate(-117.58065deg);
  -webkit-transform: rotate(-117.58065deg);
  transform: rotate(-117.58065deg);
}
.day-text .char7 {
  -moz-transform: rotate(-114.67742deg);
  -o-transform: rotate(-114.67742deg);
  -ms-transform: rotate(-114.67742deg);
  -webkit-transform: rotate(-114.67742deg);
  transform: rotate(-114.67742deg);
}
.day-text .char8 {
  -moz-transform: rotate(-111.77419deg);
  -o-transform: rotate(-111.77419deg);
  -ms-transform: rotate(-111.77419deg);
  -webkit-transform: rotate(-111.77419deg);
  transform: rotate(-111.77419deg);
}
.day-text .char9 {
  -moz-transform: rotate(-108.87097deg);
  -o-transform: rotate(-108.87097deg);
  -ms-transform: rotate(-108.87097deg);
  -webkit-transform: rotate(-108.87097deg);
  transform: rotate(-108.87097deg);
}
.day-text .char10 {
  -moz-transform: rotate(-105.96774deg);
  -o-transform: rotate(-105.96774deg);
  -ms-transform: rotate(-105.96774deg);
  -webkit-transform: rotate(-105.96774deg);
  transform: rotate(-105.96774deg);
}
.day-text .char11 {
  -moz-transform: rotate(-103.06452deg);
  -o-transform: rotate(-103.06452deg);
  -ms-transform: rotate(-103.06452deg);
  -webkit-transform: rotate(-103.06452deg);
  transform: rotate(-103.06452deg);
}
.day-text .char12 {
  -moz-transform: rotate(-100.16129deg);
  -o-transform: rotate(-100.16129deg);
  -ms-transform: rotate(-100.16129deg);
  -webkit-transform: rotate(-100.16129deg);
  transform: rotate(-100.16129deg);
}
.day-text .char13 {
  -moz-transform: rotate(-97.25806deg);
  -o-transform: rotate(-97.25806deg);
  -ms-transform: rotate(-97.25806deg);
  -webkit-transform: rotate(-97.25806deg);
  transform: rotate(-97.25806deg);
}
.day-text .char14 {
  -moz-transform: rotate(-94.35484deg);
  -o-transform: rotate(-94.35484deg);
  -ms-transform: rotate(-94.35484deg);
  -webkit-transform: rotate(-94.35484deg);
  transform: rotate(-94.35484deg);
}
.day-text .char15 {
  -moz-transform: rotate(-91.45161deg);
  -o-transform: rotate(-91.45161deg);
  -ms-transform: rotate(-91.45161deg);
  -webkit-transform: rotate(-91.45161deg);
  transform: rotate(-91.45161deg);
}
.day-text .char16 {
  -moz-transform: rotate(-88.54839deg);
  -o-transform: rotate(-88.54839deg);
  -ms-transform: rotate(-88.54839deg);
  -webkit-transform: rotate(-88.54839deg);
  transform: rotate(-88.54839deg);
}
.day-text .char17 {
  -moz-transform: rotate(-85.64516deg);
  -o-transform: rotate(-85.64516deg);
  -ms-transform: rotate(-85.64516deg);
  -webkit-transform: rotate(-85.64516deg);
  transform: rotate(-85.64516deg);
}
.day-text .char18 {
  -moz-transform: rotate(-82.74194deg);
  -o-transform: rotate(-82.74194deg);
  -ms-transform: rotate(-82.74194deg);
  -webkit-transform: rotate(-82.74194deg);
  transform: rotate(-82.74194deg);
}
.day-text .char19 {
  -moz-transform: rotate(-79.83871deg);
  -o-transform: rotate(-79.83871deg);
  -ms-transform: rotate(-79.83871deg);
  -webkit-transform: rotate(-79.83871deg);
  transform: rotate(-79.83871deg);
}
.day-text .char20 {
  -moz-transform: rotate(-76.93548deg);
  -o-transform: rotate(-76.93548deg);
  -ms-transform: rotate(-76.93548deg);
  -webkit-transform: rotate(-76.93548deg);
  transform: rotate(-76.93548deg);
}
.day-text .char21 {
  -moz-transform: rotate(-74.03226deg);
  -o-transform: rotate(-74.03226deg);
  -ms-transform: rotate(-74.03226deg);
  -webkit-transform: rotate(-74.03226deg);
  transform: rotate(-74.03226deg);
}
.day-text .char22 {
  -moz-transform: rotate(-71.12903deg);
  -o-transform: rotate(-71.12903deg);
  -ms-transform: rotate(-71.12903deg);
  -webkit-transform: rotate(-71.12903deg);
  transform: rotate(-71.12903deg);
}
.day-text .char23 {
  -moz-transform: rotate(-68.22581deg);
  -o-transform: rotate(-68.22581deg);
  -ms-transform: rotate(-68.22581deg);
  -webkit-transform: rotate(-68.22581deg);
  transform: rotate(-68.22581deg);
}
.day-text .char24 {
  -moz-transform: rotate(-65.32258deg);
  -o-transform: rotate(-65.32258deg);
  -ms-transform: rotate(-65.32258deg);
  -webkit-transform: rotate(-65.32258deg);
  transform: rotate(-65.32258deg);
}
.day-text .char25 {
  -moz-transform: rotate(-62.41935deg);
  -o-transform: rotate(-62.41935deg);
  -ms-transform: rotate(-62.41935deg);
  -webkit-transform: rotate(-62.41935deg);
  transform: rotate(-62.41935deg);
}
.day-text .char26 {
  -moz-transform: rotate(-59.51613deg);
  -o-transform: rotate(-59.51613deg);
  -ms-transform: rotate(-59.51613deg);
  -webkit-transform: rotate(-59.51613deg);
  transform: rotate(-59.51613deg);
}
.day-text .char27 {
  -moz-transform: rotate(-56.6129deg);
  -o-transform: rotate(-56.6129deg);
  -ms-transform: rotate(-56.6129deg);
  -webkit-transform: rotate(-56.6129deg);
  transform: rotate(-56.6129deg);
}
.day-text .char28 {
  -moz-transform: rotate(-53.70968deg);
  -o-transform: rotate(-53.70968deg);
  -ms-transform: rotate(-53.70968deg);
  -webkit-transform: rotate(-53.70968deg);
  transform: rotate(-53.70968deg);
}
.day-text .char29 {
  -moz-transform: rotate(-50.80645deg);
  -o-transform: rotate(-50.80645deg);
  -ms-transform: rotate(-50.80645deg);
  -webkit-transform: rotate(-50.80645deg);
  transform: rotate(-50.80645deg);
}
.day-text .char30 {
  -moz-transform: rotate(-47.90323deg);
  -o-transform: rotate(-47.90323deg);
  -ms-transform: rotate(-47.90323deg);
  -webkit-transform: rotate(-47.90323deg);
  transform: rotate(-47.90323deg);
}
.day-text .char31 {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.day-text .char32 {
  -moz-transform: rotate(-42.09677deg);
  -o-transform: rotate(-42.09677deg);
  -ms-transform: rotate(-42.09677deg);
  -webkit-transform: rotate(-42.09677deg);
  transform: rotate(-42.09677deg);
}
.day-text .char33 {
  -moz-transform: rotate(-39.19355deg);
  -o-transform: rotate(-39.19355deg);
  -ms-transform: rotate(-39.19355deg);
  -webkit-transform: rotate(-39.19355deg);
  transform: rotate(-39.19355deg);
}
.day-text .char34 {
  -moz-transform: rotate(-36.29032deg);
  -o-transform: rotate(-36.29032deg);
  -ms-transform: rotate(-36.29032deg);
  -webkit-transform: rotate(-36.29032deg);
  transform: rotate(-36.29032deg);
}
.day-text .char35 {
  -moz-transform: rotate(-33.3871deg);
  -o-transform: rotate(-33.3871deg);
  -ms-transform: rotate(-33.3871deg);
  -webkit-transform: rotate(-33.3871deg);
  transform: rotate(-33.3871deg);
}
.day-text .char36 {
  -moz-transform: rotate(-30.48387deg);
  -o-transform: rotate(-30.48387deg);
  -ms-transform: rotate(-30.48387deg);
  -webkit-transform: rotate(-30.48387deg);
  transform: rotate(-30.48387deg);
}
.day-text .char37 {
  -moz-transform: rotate(-27.58065deg);
  -o-transform: rotate(-27.58065deg);
  -ms-transform: rotate(-27.58065deg);
  -webkit-transform: rotate(-27.58065deg);
  transform: rotate(-27.58065deg);
}
.day-text .char38 {
  -moz-transform: rotate(-24.67742deg);
  -o-transform: rotate(-24.67742deg);
  -ms-transform: rotate(-24.67742deg);
  -webkit-transform: rotate(-24.67742deg);
  transform: rotate(-24.67742deg);
}
.day-text .char39 {
  -moz-transform: rotate(-21.77419deg);
  -o-transform: rotate(-21.77419deg);
  -ms-transform: rotate(-21.77419deg);
  -webkit-transform: rotate(-21.77419deg);
  transform: rotate(-21.77419deg);
}
.day-text .char40 {
  -moz-transform: rotate(-18.87097deg);
  -o-transform: rotate(-18.87097deg);
  -ms-transform: rotate(-18.87097deg);
  -webkit-transform: rotate(-18.87097deg);
  transform: rotate(-18.87097deg);
}
.day-text .char41 {
  -moz-transform: rotate(-15.96774deg);
  -o-transform: rotate(-15.96774deg);
  -ms-transform: rotate(-15.96774deg);
  -webkit-transform: rotate(-15.96774deg);
  transform: rotate(-15.96774deg);
}
.day-text .char42 {
  -moz-transform: rotate(-13.06452deg);
  -o-transform: rotate(-13.06452deg);
  -ms-transform: rotate(-13.06452deg);
  -webkit-transform: rotate(-13.06452deg);
  transform: rotate(-13.06452deg);
}
.day-text .char43 {
  -moz-transform: rotate(-10.16129deg);
  -o-transform: rotate(-10.16129deg);
  -ms-transform: rotate(-10.16129deg);
  -webkit-transform: rotate(-10.16129deg);
  transform: rotate(-10.16129deg);
}
.day-text .char44 {
  -moz-transform: rotate(-7.25806deg);
  -o-transform: rotate(-7.25806deg);
  -ms-transform: rotate(-7.25806deg);
  -webkit-transform: rotate(-7.25806deg);
  transform: rotate(-7.25806deg);
}
.day-text .char45 {
  -moz-transform: rotate(-4.35484deg);
  -o-transform: rotate(-4.35484deg);
  -ms-transform: rotate(-4.35484deg);
  -webkit-transform: rotate(-4.35484deg);
  transform: rotate(-4.35484deg);
}
.day-text .char46 {
  -moz-transform: rotate(-1.45161deg);
  -o-transform: rotate(-1.45161deg);
  -ms-transform: rotate(-1.45161deg);
  -webkit-transform: rotate(-1.45161deg);
  transform: rotate(-1.45161deg);
}
.day-text .char47 {
  -moz-transform: rotate(1.45161deg);
  -o-transform: rotate(1.45161deg);
  -ms-transform: rotate(1.45161deg);
  -webkit-transform: rotate(1.45161deg);
  transform: rotate(1.45161deg);
}
.day-text .char48 {
  -moz-transform: rotate(4.35484deg);
  -o-transform: rotate(4.35484deg);
  -ms-transform: rotate(4.35484deg);
  -webkit-transform: rotate(4.35484deg);
  transform: rotate(4.35484deg);
}
.day-text .char49 {
  -moz-transform: rotate(7.25806deg);
  -o-transform: rotate(7.25806deg);
  -ms-transform: rotate(7.25806deg);
  -webkit-transform: rotate(7.25806deg);
  transform: rotate(7.25806deg);
}
.day-text .char50 {
  -moz-transform: rotate(10.16129deg);
  -o-transform: rotate(10.16129deg);
  -ms-transform: rotate(10.16129deg);
  -webkit-transform: rotate(10.16129deg);
  transform: rotate(10.16129deg);
}
.day-text .char51 {
  -moz-transform: rotate(13.06452deg);
  -o-transform: rotate(13.06452deg);
  -ms-transform: rotate(13.06452deg);
  -webkit-transform: rotate(13.06452deg);
  transform: rotate(13.06452deg);
}
.day-text .char52 {
  -moz-transform: rotate(15.96774deg);
  -o-transform: rotate(15.96774deg);
  -ms-transform: rotate(15.96774deg);
  -webkit-transform: rotate(15.96774deg);
  transform: rotate(15.96774deg);
}
.day-text .char53 {
  -moz-transform: rotate(18.87097deg);
  -o-transform: rotate(18.87097deg);
  -ms-transform: rotate(18.87097deg);
  -webkit-transform: rotate(18.87097deg);
  transform: rotate(18.87097deg);
}
.day-text .char54 {
  -moz-transform: rotate(21.77419deg);
  -o-transform: rotate(21.77419deg);
  -ms-transform: rotate(21.77419deg);
  -webkit-transform: rotate(21.77419deg);
  transform: rotate(21.77419deg);
}
.day-text .char55 {
  -moz-transform: rotate(24.67742deg);
  -o-transform: rotate(24.67742deg);
  -ms-transform: rotate(24.67742deg);
  -webkit-transform: rotate(24.67742deg);
  transform: rotate(24.67742deg);
}
.day-text .char56 {
  -moz-transform: rotate(27.58065deg);
  -o-transform: rotate(27.58065deg);
  -ms-transform: rotate(27.58065deg);
  -webkit-transform: rotate(27.58065deg);
  transform: rotate(27.58065deg);
}
.day-text .char57 {
  -moz-transform: rotate(30.48387deg);
  -o-transform: rotate(30.48387deg);
  -ms-transform: rotate(30.48387deg);
  -webkit-transform: rotate(30.48387deg);
  transform: rotate(30.48387deg);
}
.day-text .char58 {
  -moz-transform: rotate(33.3871deg);
  -o-transform: rotate(33.3871deg);
  -ms-transform: rotate(33.3871deg);
  -webkit-transform: rotate(33.3871deg);
  transform: rotate(33.3871deg);
}
.day-text .char59 {
  -moz-transform: rotate(36.29032deg);
  -o-transform: rotate(36.29032deg);
  -ms-transform: rotate(36.29032deg);
  -webkit-transform: rotate(36.29032deg);
  transform: rotate(36.29032deg);
}
.day-text .char60 {
  -moz-transform: rotate(39.19355deg);
  -o-transform: rotate(39.19355deg);
  -ms-transform: rotate(39.19355deg);
  -webkit-transform: rotate(39.19355deg);
  transform: rotate(39.19355deg);
}
.day-text .char61 {
  -moz-transform: rotate(42.09677deg);
  -o-transform: rotate(42.09677deg);
  -ms-transform: rotate(42.09677deg);
  -webkit-transform: rotate(42.09677deg);
  transform: rotate(42.09677deg);
}
.day-text .char62 {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.day-text .char63 {
  -moz-transform: rotate(47.90323deg);
  -o-transform: rotate(47.90323deg);
  -ms-transform: rotate(47.90323deg);
  -webkit-transform: rotate(47.90323deg);
  transform: rotate(47.90323deg);
}
.day-text .char64 {
  -moz-transform: rotate(50.80645deg);
  -o-transform: rotate(50.80645deg);
  -ms-transform: rotate(50.80645deg);
  -webkit-transform: rotate(50.80645deg);
  transform: rotate(50.80645deg);
}
.day-text .char65 {
  -moz-transform: rotate(53.70968deg);
  -o-transform: rotate(53.70968deg);
  -ms-transform: rotate(53.70968deg);
  -webkit-transform: rotate(53.70968deg);
  transform: rotate(53.70968deg);
}
.day-text .char66 {
  -moz-transform: rotate(56.6129deg);
  -o-transform: rotate(56.6129deg);
  -ms-transform: rotate(56.6129deg);
  -webkit-transform: rotate(56.6129deg);
  transform: rotate(56.6129deg);
}
.day-text .char67 {
  -moz-transform: rotate(59.51613deg);
  -o-transform: rotate(59.51613deg);
  -ms-transform: rotate(59.51613deg);
  -webkit-transform: rotate(59.51613deg);
  transform: rotate(59.51613deg);
}
.day-text .char68 {
  -moz-transform: rotate(62.41935deg);
  -o-transform: rotate(62.41935deg);
  -ms-transform: rotate(62.41935deg);
  -webkit-transform: rotate(62.41935deg);
  transform: rotate(62.41935deg);
}
.day-text .char69 {
  -moz-transform: rotate(65.32258deg);
  -o-transform: rotate(65.32258deg);
  -ms-transform: rotate(65.32258deg);
  -webkit-transform: rotate(65.32258deg);
  transform: rotate(65.32258deg);
}
.day-text .char70 {
  -moz-transform: rotate(68.22581deg);
  -o-transform: rotate(68.22581deg);
  -ms-transform: rotate(68.22581deg);
  -webkit-transform: rotate(68.22581deg);
  transform: rotate(68.22581deg);
}
.day-text .char71 {
  -moz-transform: rotate(71.12903deg);
  -o-transform: rotate(71.12903deg);
  -ms-transform: rotate(71.12903deg);
  -webkit-transform: rotate(71.12903deg);
  transform: rotate(71.12903deg);
}
.day-text .char72 {
  -moz-transform: rotate(74.03226deg);
  -o-transform: rotate(74.03226deg);
  -ms-transform: rotate(74.03226deg);
  -webkit-transform: rotate(74.03226deg);
  transform: rotate(74.03226deg);
}
.day-text .char73 {
  -moz-transform: rotate(76.93548deg);
  -o-transform: rotate(76.93548deg);
  -ms-transform: rotate(76.93548deg);
  -webkit-transform: rotate(76.93548deg);
  transform: rotate(76.93548deg);
}
.day-text .char74 {
  -moz-transform: rotate(79.83871deg);
  -o-transform: rotate(79.83871deg);
  -ms-transform: rotate(79.83871deg);
  -webkit-transform: rotate(79.83871deg);
  transform: rotate(79.83871deg);
}
.day-text .char75 {
  -moz-transform: rotate(82.74194deg);
  -o-transform: rotate(82.74194deg);
  -ms-transform: rotate(82.74194deg);
  -webkit-transform: rotate(82.74194deg);
  transform: rotate(82.74194deg);
}
.day-text .char76 {
  -moz-transform: rotate(85.64516deg);
  -o-transform: rotate(85.64516deg);
  -ms-transform: rotate(85.64516deg);
  -webkit-transform: rotate(85.64516deg);
  transform: rotate(85.64516deg);
}
.day-text .char77 {
  -moz-transform: rotate(88.54839deg);
  -o-transform: rotate(88.54839deg);
  -ms-transform: rotate(88.54839deg);
  -webkit-transform: rotate(88.54839deg);
  transform: rotate(88.54839deg);
}
.day-text .char78 {
  -moz-transform: rotate(91.45161deg);
  -o-transform: rotate(91.45161deg);
  -ms-transform: rotate(91.45161deg);
  -webkit-transform: rotate(91.45161deg);
  transform: rotate(91.45161deg);
}
.day-text .char79 {
  -moz-transform: rotate(94.35484deg);
  -o-transform: rotate(94.35484deg);
  -ms-transform: rotate(94.35484deg);
  -webkit-transform: rotate(94.35484deg);
  transform: rotate(94.35484deg);
}
.day-text .char80 {
  -moz-transform: rotate(97.25806deg);
  -o-transform: rotate(97.25806deg);
  -ms-transform: rotate(97.25806deg);
  -webkit-transform: rotate(97.25806deg);
  transform: rotate(97.25806deg);
}
.day-text .char81 {
  -moz-transform: rotate(100.16129deg);
  -o-transform: rotate(100.16129deg);
  -ms-transform: rotate(100.16129deg);
  -webkit-transform: rotate(100.16129deg);
  transform: rotate(100.16129deg);
}
.day-text .char82 {
  -moz-transform: rotate(103.06452deg);
  -o-transform: rotate(103.06452deg);
  -ms-transform: rotate(103.06452deg);
  -webkit-transform: rotate(103.06452deg);
  transform: rotate(103.06452deg);
}
.day-text .char83 {
  -moz-transform: rotate(105.96774deg);
  -o-transform: rotate(105.96774deg);
  -ms-transform: rotate(105.96774deg);
  -webkit-transform: rotate(105.96774deg);
  transform: rotate(105.96774deg);
}
.day-text .char84 {
  -moz-transform: rotate(108.87097deg);
  -o-transform: rotate(108.87097deg);
  -ms-transform: rotate(108.87097deg);
  -webkit-transform: rotate(108.87097deg);
  transform: rotate(108.87097deg);
}
.day-text .char85 {
  -moz-transform: rotate(111.77419deg);
  -o-transform: rotate(111.77419deg);
  -ms-transform: rotate(111.77419deg);
  -webkit-transform: rotate(111.77419deg);
  transform: rotate(111.77419deg);
}
.day-text .char86 {
  -moz-transform: rotate(114.67742deg);
  -o-transform: rotate(114.67742deg);
  -ms-transform: rotate(114.67742deg);
  -webkit-transform: rotate(114.67742deg);
  transform: rotate(114.67742deg);
}
.day-text .char87 {
  -moz-transform: rotate(117.58065deg);
  -o-transform: rotate(117.58065deg);
  -ms-transform: rotate(117.58065deg);
  -webkit-transform: rotate(117.58065deg);
  transform: rotate(117.58065deg);
}
.day-text .char88 {
  -moz-transform: rotate(120.48387deg);
  -o-transform: rotate(120.48387deg);
  -ms-transform: rotate(120.48387deg);
  -webkit-transform: rotate(120.48387deg);
  transform: rotate(120.48387deg);
}
.day-text .char89 {
  -moz-transform: rotate(123.3871deg);
  -o-transform: rotate(123.3871deg);
  -ms-transform: rotate(123.3871deg);
  -webkit-transform: rotate(123.3871deg);
  transform: rotate(123.3871deg);
}
.day-text .char90 {
  -moz-transform: rotate(126.29032deg);
  -o-transform: rotate(126.29032deg);
  -ms-transform: rotate(126.29032deg);
  -webkit-transform: rotate(126.29032deg);
  transform: rotate(126.29032deg);
}
.day-text .char91 {
  -moz-transform: rotate(129.19355deg);
  -o-transform: rotate(129.19355deg);
  -ms-transform: rotate(129.19355deg);
  -webkit-transform: rotate(129.19355deg);
  transform: rotate(129.19355deg);
}
.day-text .char92 {
  -moz-transform: rotate(132.09677deg);
  -o-transform: rotate(132.09677deg);
  -ms-transform: rotate(132.09677deg);
  -webkit-transform: rotate(132.09677deg);
  transform: rotate(132.09677deg);
}
.day-text .char93 {
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.ring-back {
  opacity: 0.1;
  filter: alpha(opacity=10);
  width: 100%;
  height: 100%;
  border: solid 10px transparent;
  border-radius: 50%;
}
.ring-back:before {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 50%;
  border: solid 35px #FFFFFF;
  content: " ";
}

.ring {
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: solid 45px #202020;
  border-radius: 50%;
  border-bottom-color: transparent;
  box-shadow: 0px -2px 2px #000;
}

.side-ring {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 200px;
  height: 200px;
  background-color: #202020;
  border-radius: 50%;
  box-shadow: 0px 2px 2px #000;
  color: #000;
  overflow: hidden;
}

#weather {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(20% - 100px);
}

#steps {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(80% - 100px);
}

.fa-cloud {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  color: #555;
  font-size: 80px;
  width: 80px;
  height: 80px;
}

.temperature {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 10%;
  left: 65%;
  color: #FFCC00;
  font-size: 18px;
}

.weather-description {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 55%;
  left: 10%;
  color: #FFCC00;
  font-size: 20px;
}

.bars {
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  top: calc(50% - 70px);
  left: calc(50% - 65px);
  width: 140px;
  height: 140px;
}

.bar {
  width: 18px;
  height: 140px;
  margin: 0px -4px;
}

.day-letter {
  position: relative;
  top: 110px;
  color: #555;
  font-size: 14px;
  text-align: center;
}

.horo {
  color: #555;
  position: absolute;
  bottom: 10%;
  left: 40%;
  width: 20%;
  height: auto;
  font-size:12px;
  text-align: center;
  vertical-align: 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  visibility: hidden;
  background-color: #202020;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #000;
  overflow: hidden;
  padding: 8px;
}

.divider {
  width: auto;
  height: 2px;
  background: radial-gradient(15% 50%, #FFCC00, transparent);
  margin-bottom: 5px;
}

.horo_day {
  font-size:14px;
  font-weight: bold;
  color: #808080;
}

.quote {
  color: #555;
  position: absolute;
  bottom: 10%;
  left: 40%;
  width: 20%;
  height: auto;
  vertical-align: 50%;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #202020;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #000;
  overflow: hidden;
  padding: 12px;
}

.quote_author {
  font-size: 12px;
  text-align: end;
  min-height: 12px;
}

.quote_text {
  margin-left: 24px;
  font-weight: bold;
  font-size:14px;
  color: #808080;
  text-align: center;
}

.quote_add_to_favorite {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 16px;
  height: 16px;
  background: url("../images/icons/star_unchecked.png");
}

.x {
  position: absolute;
  bottom: 30px;
  left: 1px;
  width: 16px;
  height: 2px;
  padding-top: 4px;
  font-size:8px;
  text-align: center;
  vertical-align: bottom;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
